body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
  background: #fafafa;
  color: #405ced;
  margin: 1em;
}

a[href] {
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  padding: 2px 8px;
  border-radius: 4px;
  color: inherit;
  background: #fff;
  text-decoration: none;
  white-space: nowrap;
}